@keyframes fill-bar {
	from {
		width: 0;
	}
	to {
		width: var(--width);
	}
}

.bar-inside {
	background: linear-gradient(to right, var(--color-start), var(--color-end));
	/* background: linear-gradient(
		to right,
		in oklch,
		var(--color-start),
		var(--color-end)
	); */
	width: var(--width);
	animation: fill-bar var(--animation-time) ease-in-out 1s forwards;
}
